@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regole personalizzate */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
  }
  
  nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  button {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    filter: brightness(0.9);
  }
  

  